@import '../variables.css';

.container {
  font-size: 13px;
  font-weight: 600;
  margin: 20px 0;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination div {
  padding: 7px 12px;
  border: 1px solid rgb(225, 228, 232);
  border-left: none;
  color: rgb(3, 102, 214);
  background-color: white;
}
.pagination div:hover {
  cursor: pointer;
}
.pagination div:first-child {
  border-left: 1px solid rgb(225, 228, 232);
  border-radius: 3px 0 0 3px;
}
.pagination div:last-child {
  border-radius: 0 3px 3px 0;
}

.selected {
  color: white !important;
  background-color: rgb(3, 102, 214) !important;
}

.disabled {
  color: rgb(209, 213, 218) !important;
  background-color: rgb(250, 251, 252) !important;
  cursor: default !important;
}
