@import '../../../components/variables.css';

.issue-header {
  font-size: 14px;
  font-weight: 600;
  padding: 13px 0 13px 16px;
  margin-top: 20px;
  border: 1px solid rgb(225, 228, 232);
  border-radius: 3px 3px 0 0;
  background-color: #F6F8FA;
}

.issue-header > div {
  float: right;
  margin: 0 10px;
}
