/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.root {
  /*float: right;*/
  margin: 6px 0 0;
}

.leftContainer {
  float: left;
}

.rightContainer {
  float: right;
}

.form {
  display: inline;
}

.form .search {
  width: 250px;
  padding: 5px;
  color: white;
  background-color: #404448;
  border-color: transparent;
  border-radius: 5px;
}

.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
  color: white;
}

.link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.signin , .signup {
  color: white;
  font-weight: bold;
}

.spacer {
  color: #686c70;
}
