/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.root {
  padding: 20px 20px 0 20px;
  background-color: #FAFBFC;
}

.container {
  margin: 0 auto;
  max-width: var(--max-content-width);
}

.reposName {
  font-size: 18px;
  color: rgb(3, 102, 214);
  float: left;
}
.reposName > span {
  font-weight: 600;
}

.reposInfo {
  font-size: 12px;
  font-weight: 600;
  color: rgb(36, 41, 46);
  float: right;
}
.reposInfo > div {
  float: left;
  margin: 0 5px;
}
.reposInfo > div > div {
  float: left;
  cursor: pointer;
  border: 1px solid #CCCED0;
  padding: 5px 10px;
}
.reposInfo > div > div:first-child {
  border-right: none;
  border-radius: 3px 0 0 3px;
  background-color: #F7F9FA;
}
.reposInfo > div > div:last-child {
  border-radius: 0 3px 3px 0;
}

.reposNavigation {
  color: rgb(36, 41, 46);
  font-size: 14px;
  font-weight: 400;
  clear: both;
  margin-top: 40px;
  overflow: hidden;
  width: 100%;
}
.reposNavigation > div {
  float: left;
  cursor: pointer;
  padding: 10px 20px;
}
.reposNavigation > div > span {
  font-size: 12px;
  font-weight: 600;
  padding: 1px 5px;
  display: inline-block;
  border-radius: 20px;
  background-color: #EDEDEE;
}

.selectedPage {
  background-color: white;
  border-top: 3px solid rgb(227, 98, 9);
  border-left: 1px solid rgb(225, 228, 232);
  border-right: 1px solid rgb(225, 228, 232);
  border-radius: 3px 3px 0 0;
}
