@import '../../components/variables.css';

.root {
  position: relative;
}

.header {
  float: right;
  cursor: pointer;
  color: rgb(36, 41, 46);
  font-weight: 400;
}

.body {
  clear: both;
  width: 300px;
  position: absolute;
  top: 35px;
  right: 0;
  background-color: rgb(246, 248, 250);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 3px 3px 0 0;
  z-index: 2;
}
.body div:first-child {
  border-bottom: 1px solid rgb(225, 228, 232);
  padding: 8px 10px;
}
.body div:nth-child(2) {
  border-bottom: 1px solid rgb(225, 228, 232);
}
.body input {
  line-height: 21px;
  background-color: white;
  border: 1px solid rgb(223, 226, 229);
  border-radius: 3px;
  padding: 5px;
  margin: 7px;
  box-sizing: border-box;
  width: calc(100% - 14px);
}
.body input::placeholder {
  opacity: 0.5;
}

.body div:nth-child(3) {
  background-color: white;
  max-height: 60vh;
  overflow: auto;
  color: rgb(88, 96, 105);
  font-size: 12px;
  font-weight: 400;
}
.body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.body ul li {
  border-bottom: 1px solid rgb(225, 228, 232);
  padding: 8px 8px 8px 30px;
  cursor: pointer;
}
.body ul li i {
  margin: 0 5px;
}

.shown {
  display: block;
}
.hidden {
  display: none;
}

.dropdownBackground {
  z-index: 1;
  position: fixed;
  width: 300vw;
  height: 300vh;
  left: -100vw;
  top: -100vh;
}
