@import '../../../components/variables.css';

.issue-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.issue-items li {
  margin: 0;
  padding: 0;
  border: 1px solid rgb(225, 228, 232);
  border-top: none;
}
.issue-items li:hover {
  background-color: #F6F8FA;
}
.issue-items li > div {
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
}
.issue-items li > div:first-child {
  float: left;
  padding-top: 10px;
}
.issue-items li > div > div:nth-child(2) {
  color: rgb(88, 96, 105);
  font-size: 12px;
  font-weight: 400;
}
