/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.root {
  background: #24292E;
  font-size: 0.9em;

}

.container {
  margin: 0 auto;
  padding: 15px 0;
  max-width: var(--max-content-width);
  color: white;
}

.brand {
  float: left;
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
}

.dummyDiv {
  clear: both;
}
