@import '../../components/variables.css';

.root {
  position: fixed;
  width: 100%;
  margin: auto;
}

.container {
  width: 140px;
  padding: 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: white;
  border: 1px solid gray;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.container .text {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 10px;
}
