/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../variables.css';

.root {
  background: white;
  color: rgb(88, 96, 105);
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}

.container {
  border-top: 1px solid rgb(234, 236, 239);
  margin: 40px auto 0 auto;
  padding: 30px 15px;
  max-width: var(--max-content-width);
  text-align: center;
}

.container > div:first-child {
  float: left;
}
.container > div:nth-of-type(2){
  float: right;
}
.text,
.link {
  padding: 2px 5px;
}

