@import '../../components/variables.css';

.sub-nav{
  overflow: hidden;
  width: 100%;
}

.filter {
  float: left;
}
.filter > input {
  width: 250px;
  padding: 5px;
  line-height: 20px;
  color: rgb(88, 96, 105);
  background-color: rgb(250, 251, 252);
  border: 1px solid rgb(209, 213, 218);
  border-radius: 5px;
}

.label-milestone{
  margin: 0 10px;
  float: left;
}
.label-milestone > div {
  float: left;
  color: rgb(88, 96, 105);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #CCCED0;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0);
}
.label-milestone > div:hover {
  background-color: rgb(246, 248, 250);
}
.label-milestone > div:first-child {
  border-right: none;
  border-radius: 3px 0 0 3px;
}
.label-milestone > div:last-child {
  border-radius: 0 3px 3px 0;
}

.new-issue {
  float: right;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #CCCED0;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: rgb(40, 167, 69);
}
.new-issue:hover {
  background-color: rgb(38, 159, 66);
}
